.documents {
  a {
    color: $catena-x-blue;
    font-weight: 100;
  }
  .link-wrapper {
    font-weight: normal !important;
    line-break: anywhere;
  }
  .link {
    text-decoration: underline;
  }

  .document-icon {
    padding-right: 3px;
  }
  .section-content {
    width: 100%;
    border: solid 1px #b3cb2d;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    margin-bottom: 50px;
  }

  .sub-section-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #edefe5;
  }

  .field-container {
    width: 33%;
    padding-right: 20px;
  }
  .link-container {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    text-decoration: none;
  }

  .field-label {
    padding: 30px 0 10px 40px;
    font-size: 14px;
    color: #777777;
  }

  .field-value {
    padding-left: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }

  .longer {
    padding-bottom: 0;
  }

  .icon {
    width: 37px;
    height: 39px;
    margin-left: 30px;
  }

  .list-container {
    width: 33%;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .list-label {
    padding: 30px 0 10px 0;
    font-size: 12px;
    color: #777777;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin-left: 20px;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  .two-third-width {
    width: 66% !important;
  }

  .short-label {
    max-width: 53%;
  }

  @media (max-width: 750px) {
    .section-content {
      border: none;
    }

    .section-content {
      margin-bottom: 0;
    }

    .longer {
      padding-bottom: 22px;
    }

    .sub-title-container {
      padding: 22px 40px 0 30px;
    }

    .list-container {
      width: 100%;
      padding-left: 40px;
      padding-bottom: 40px;
    }

    .field-container {
      border-bottom: solid 1px #edefe5;
      width: 100%;
      min-height: 120px;
    }

    .two-third-width {
      width: 100% !important;
    }
  }
}
