.section {
  display: flex;
  .full-width {
    width: 100% !important;
  }

  .element-chart-label {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 6px 8px;
    min-height: 20px;
  }

  .sub-section-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #edefe5;
  }

  .two-third-width {
    width: 66% !important;
  }

  .section-content {
    width: 100%;
    border: solid 1px #b3cb2d;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    margin-bottom: 50px;
  }

  .list-container {
    width: 33%;
    padding: 0 0 22px 40px;
  }

  .list-label {
    padding: 22px 0 10px 0;
    font-size: 12px;
    color: #777777;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  li {
    margin-left: 20px;
    font-weight: bold;
  }

  .sub-title {
    font-weight: bold;
    font-size: 20px;
    color: #c6cca3;
  }

  .container-width-70 {
    width: 70%;
  }
  .container-width-60 {
    width: 60%;
  }
}
@media (max-width: 960px) {
  .section {
    flex-direction: column;
    .container-width-70 {
      width: 100%;
    }
    .container-width-60 {
      width: 100%;
    }
  }
}
