<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Tractus-X - Digital Product Pass Application
  ~
  ~ Copyright (c) 2022, 2024 BMW AG, Henkel AG & Co. KGaA
  ~ Copyright (c) 2023, 2024 CGI Deutschland B.V. & Co. KG
  ~ Copyright (c) 2022, 2024 Contributors to the Eclipse Foundation

  ~ See the NOTICE file(s) distributed with this work for additional
  ~ information regarding copyright ownership.
  ~
  ~ This program and the accompanying materials are made available under the
  ~ terms of the Apache License, Version 2.0 which is available at
  ~ https://www.apache.org/licenses/LICENSE-2.0.
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
  ~ either express or implied. See the
  ~ License for the specific language govern in permissions and limitations
  ~ under the License.
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<configuration>

    <property name="LOGS" value="./log" />
    <property name="LOG_FILE" value="product-passport" />
    <timestamp key="day" datePattern="yyyyMMdd"/>
    <timestamp key="time" datePattern="HHmmss"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) |%highlight(%level)| [%cyan(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <!--<appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/${day}/${timestamp}-${LOG_FILE}.log</file>
        <encoder>
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>-->
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${day}/${day}_${time}-${LOG_FILE}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %t %C{1} %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>
                ${LOGS}/archived/${day}/${time}/%d{yyyy-MM-dd}_${time}-${LOG_FILE}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!--<maxHistory>2</maxHistory>-->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
    <!--<appender-ref ref="File" /> -->
   <appender-ref ref="RollingFile" />
   <appender-ref ref="Console" />
</root>

<!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="utils" level="trace" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

 </configuration>
