.footer-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;

  .links {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
  }
  a {
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0px;
    margin: 0px 8px;
    cursor: pointer;
    color: rgb(15, 113, 203);
  }
  .copyright {
    font-size: 12px;
    padding-bottom: 72px;
  }
}
