.header-container {
  position: fixed;
  top: 0;
  min-height: 85px;
  display: flex;
  width: 100%;
  padding: 0 30px 0 12px;
  background: rgb(254, 255, 254);
  border-bottom: 1px solid lightgray;
  z-index: 99999;
  font-size: 14px !important;
}

.menu-dropdown {
  margin-top: 20px;
  border-radius: 16px!important;
  width: 256px;
  padding: 0;
  font-family: LibreFranklin-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo-container {
  padding-top: 18px;
}

.logo {
  width: 170px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-tabs {
  display: none;
}

.right-manu-wrapper {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.code {
  padding: 0;
  margin: 0;
}

.buttons {
  cursor: pointer;
}

.profile-menu-header {
  background-color: rgb(243, 243, 243);
  border-radius: 16px 16px 0 0;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
  white-space: normal;
  font-family: LibreFranklin-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.profile-menu-lang {
  border-top: 1px solid #dcdcdc;
  border-radius: 0 0 16px 16px;
  padding: 16px 24px;
  font-size: 14px;
  font-family: LibreFranklin-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  align-items: center;
  line-height: 1.42857;
  .active {
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid;
  }

  .inactive {
    color: rgb(15, 113, 203);
    font-weight: 500;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
    line-height: 1.42857;
  }
}

.role {
  font-size: 14px;
  color: #888888;
}

.menu-btn {
  border-top: 1px solid #dcdcdc;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 100%;
  box-shadow: none!important;
  width: 100%;
  border-radius: 0px;
  margin: 0;
  /* align-content: start; */
  display: flex;
  justify-content: start;
  padding: auto;
  padding: 22px 20px;
}
.menu-btn:hover {
  background-color: rgba(15, 113, 203, 0.05);
  color: rgb(13, 85, 175);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.profile-text {
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 0px;
  text-transform: initial;
  font-family: LibreFranklin-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 750px) {
  .right-manu-wrapper {
    display: none;
  }
  .logo {
    height: 35px;
    left: 0;
  }
  .header-container {
    width: 100%;
    margin: 0;
  }
}

.menu {
  .v-btn__content {
    text-decoration: none;
    display: block;
    font-family: LibreFranklin-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: 0px;
    text-transform: initial;
    font-weight: 500;
  }

  .v-btn.v-btn--density-default {
    height: 40px;
  }

  .v-btn--size-default {
    padding: 1px;
    margin: 0px 16px;
    text-align: center;
    width: auto;
  }

  .ripple-background {
    color: rgb(254, 255, 254);
  }

  .v-slide-group-item--active {
    .v-btn__content {
      color: rgb(15, 113, 203);
      --v-border-color: 0, 0, 224;
      --v-theme-on-surface: 13, 85, 175;
    }
  }
  display: flex;
  align-items: center;
}

.header {
  a:-webkit-any-link {
    text-decoration: none !important;
  }

  .v-btn {
    --v-theme-on-surface: 13, 85, 175;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .v-btn__overlay {
    //background-color: rgb(254, 255, 254);
    background: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .v-btn__content {
    text-transform: initial;
    letter-spacing: 0px;
    z-index: 1;
  }

  .help-btn {
    color: rgb(15, 113, 203);
    box-shadow: none;
    height: 45px;
  }

  .v-btn:hover {
    .v-btn__content {
      color: rgb(13, 85, 175);
    }
    --v-hover-opacity: 1;
  }

  .v-btn__content {
    color: rgb(136, 136, 136);
  }
  .ripple-background {
    color: rgb(212, 227, 254);
  }
  .help-container {
    .ripple-background {
      color: rgb(90, 167, 255);
    }
    --v-hover-opacity: 0.4;
    .v-btn__content {
      color: rgb(15, 113, 203);
    }
    .v-btn:hover {
        background: rgb(212, 227, 254);
        .v-btn__content {
          color: rgb(13, 85, 175);
        }
    }

    .v-btn:active {
      border: 2px solid rgb(15, 113, 203);
    }

    .v-btn {
      border: 2px solid rgb(254, 255, 254);
    }
  }
}
