.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  .v-field__input {
    font-size: 20px;
    font-weight: 500;
  }
  .ripple-background{
    color: $catena-x-light-blue;
  }
  .clear:hover {
    color: $catena-x-blue; 
  }
  .v-field--variant-filled .v-field__overlay {
    background-color: none;
    border-radius: none;
    opacity: 0;
    pointer-events: none;
    transition: none;
    position: initial;
    width: 100%;
    height: 100%;
  }

  .v-field__outline {
    display: none;
  }

  .v-input__details {
    display: none;
  }

  .clear {
    position: absolute;
    right: 35px;
    bottom: 35px;
  }

  .v-btn--variant-elevated {
    box-shadow: none;
  }

  .input-form {
    position: relative;
    padding: 17px;
    background: linear-gradient(to right, #f8b500, #f88000);
    border-radius: 35px;
  }
  .input {
    width: 560px;
    border-radius: 20px;
    color: #444;
    padding: 2px;
    padding-left: 40px;
    outline: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNhMGEwYTA7fS5jbHMtMntmaWxsOiNhMGEwYTA7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+PC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 32px 32px;
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color: white;
  }

  .submit-btn {
    margin-top: 30px;
    height: 56px;
    width: 185px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }

  .icon {
    padding-left: 20px;
  }
}
