/** Global configuration variables **/
@import "config/variables";

/** Components style import **/
@import "components/general/footer";
@import "components/general/header";
@import "components/general/search";
@import "components/passport/documents";
@import "components/passport/documentField";
@import "components/landing/dashboardTable";
