name: "Publish docker images"

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:

    branches: [ "main", "develop", "feature/prepare_consumer_backend_deployment_cmp-396" ]

    # Publish semver tags as releases.
    # tags: [ 'v*.*.*' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "consumer-ui"
  IMAGE_TAG: ${{ github.sha }}
    
jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docker

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Login against a Docker registry
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push
        id: build-and-push-frontend
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
